/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2014, 6:54:11 AM
    Author     : JoseRoss
*/

.keyboard{
    -fx-background-color: black;
    
}
.key{
    -fx-border-radius:0;
    -fx-background-radius: 0;
    -fx-background-color: #302F37;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: 'Arial';
    -fx-alignment: top_left;
}
.fitText{
    -fx-font-size: 14px;
}